ol {
  border: 2px solid red;
  min-height: 30px;
  width: 20%;
}
li:nth-child(odd) {
  background: coral;
}
li[draggable='true'] {
  cursor: move;
}
li:hover,
li:focus {
  background: #fc0;
}
li[aria-grabbed='true'] {
  background: green;
}
.highlight {
  background: lightblue;
}
